QPalette{background:#ffffff;}*{outline:0px;}

QScrollBar:horizontal
{
	background:none;
	padding:0px;
	border-radius:6px;
	max-height:12px;
}

QScrollBar::handle:horizontal
{
background:#181818;
min-width:50px;
border-radius:6px;
}

QScrollBar::handle:horizontal:hover
{
background:#2A2C32;
}

QScrollBar::handle:horizontal:pressed
{
background:#2A2C32;
}

QScrollBar::add-page:horizontal{
background:none;
}

QScrollBar::sub-page:horizontal
{
background:none;
}

QScrollBar::add-line:horizontal
{
background:none;
}

QScrollBar::sub-line:horizontal
{
background:none;
}

QScrollBar:vertical
{
	background: #ffffff;
	padding:0px;
	border-radius:4px;
	max-width:8px;
}

QScrollBar::handle:vertical
{
	background:#c8c9cc;
	min-height:50px;
	border-radius:4px;
}

QScrollBar::handle:vertical:hover
{
background:#dadbdd;
}

QScrollBar::handle:vertical:pressed
{
background:#dadbdd;
}

QScrollBar::add-page:vertical
{
background:none;
}

QScrollBar::sub-page:vertical
{
background:none;
}

QScrollBar::add-line:vertical{
background:none;
}

QScrollBar::sub-line:vertical{
background:none;
}


QListView
{
    border-style:none;
}

QListView::item:selected
{
    color:#000000;
    background:rgb(65, 82, 90);
}

QListView::item:hover
{
    background:rgb(49, 62, 69);
}

QListView::item
{
    border-bottom: 0px solid #222;
}


QMenu 
{
	background-color : rgb(253,253,254); 
	padding:0px;
	border-radius:15px;
}

QMenu::item 
{
	font-size:10pt;
	color: rgb(0,0,0);
	background-color:rgb(253,253,254);
	padding: 8px 25px 6px 15px;
	margin: 0px;
}

QMenu::item:selected 
{
	background-color : rgb(236,236,237);
}

QMenu::right-arrow
{
	image:url(:/qss/res/right_arrow.png);
}

QMenu::icon:checked 
{
	background: rgb(253,253,254);
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
}

QMenu::icon:checked:selected 
{
	background-color : rgb(236,236,237);
}

QMenu::separator 
{
	height: 1px;
	background: #E6E8EB;
}


QTableView QHeaderView::section 
{
	background:#2a9ee4;
	font-weight:bold;
    border:none; 
	height:35px; 
	color:white;
}
   
QTableView 
{
	gridline-color:#2aaee4; 
	color:#888; 
	border:none;
	alternate-background-color:#f1f1f1;
}

QTableView::item:selected
{
	color:#888;
    background:#f5f7fa;
}
